

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li, a, h1, h2, h3, h4, h5, button {
    font-family: 'Poppins', sans-serif;
    
}


body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05445E;
    padding: 50px 50px;
}



.nav-image img:hover{
    opacity:0.7 !important;
    filter:alpha(opacity=50) !important;

}

.mobile-nav-image{
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul.navigation{
    position: relative;
    display: flex;
    gap: 60px;
    margin-right: 60px;
    align-items: center;
}

nav ul li{
    list-style: none;
    
}
nav ul.navigation li a{
    position: relative;
    color: white;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
}


nav ul.navigation li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    display: block;
    background-color: #fff;
    transform: scaleX(0);
    transition: 0.5s ease-in-out;
    transform-origin: right;
}


nav ul.navigation li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;

}

nav .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    z-index: 10;
    cursor: pointer;

}

nav .search .icon {
    color: white;
}

.searchBox {
    position: absolute;
    right: -100% !important; 
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(5, 68, 94, 0.9);
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}

.searchBox.active {
    right: 0 !important;
}

.searchBtn {
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}


.searchBtn.active{
    left: 0;
}

.closeBtn {
   opacity: 0; 
   visibility: hidden;
   transition: 0.5s;
   scale: 0;
}


.closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1 ;
}


.searchBox input {
    /*width: 100%;*/
    border: none;
    outline: none;
    height: 50px;
    font-size: 36px;
    color: white;
    background: rgba(5, 68, 94, 0.9);
    border-bottom: 1px solid white;

}

::placeholder {
    color: white;
    opacity: 0.7; 
  }
  

.menuToggle {
    position: relative;
    display: none;
    color: white;
    padding-right: 10px;
}





@media (max-width: 780px){
    .menuToggle {
        position: absolute;
        display: block;
        font-size: 35px;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }

    .searchBtn {
        left: 0;
    }


    nav .navigation{
        position: absolute;
        /*display: block;*/
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }


    nav.open .navigation{
        position: absolute;
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #05445E;
        justify-content: center;
        color: white;
        width: 100%;
        height: calc(250vh - 80px);
        padding: 40px;
        /*border-top: 1px solid rgba(0, 0, 0, 0.5);*/

    }

    nav.open .navigation li {
        font-size: 20px;
    }

    /*.primary{
        opacity: 0;
        visibility: hidden;
    }*/

    .hide{
        display: none;
    }

    .nav-image{
        display: none;
    }

    .mobile-nav-image{
        display:block;
    }


    
}



a.btn {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    /*color: #D4F1F4;*/
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 25px;
}


.primary {
    color: #D4F1F4;
    border-color: #D4F1F4;
    border-style: solid;
    border-width: 3px;
    
}


.primary:hover {
    color: #05445E;
    font-weight: bold;
    background-color: #D4F1F4;
}

/*.btn-1 button {
    background: none;
    font-size: 18px;
    color: white;
    border-color: white;
    border-radius: 25px;
    padding: 10px 35px;
      
}*/

#dropdown-content {
    display: none;
    position: absolute;
    left: -200px;
    background-color: #EDF4F5;
    min-width: 160px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    top: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


#dropdown-content .category{
    float: left;
    padding-inline-end: 40px;

}

.category ul li a{
    color: #05445E;
}

#dropdown-content ul li{
    margin: 0;
    padding-top: 20px;
    padding-top: 20px;
    list-style-type: none;
    
}


#dropdown-content ul li a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}


#dropdown-content a {
    /*display: flex;*/
    color: #05445E;
    padding: 12px 30px;
    text-decoration: none;
    text-align: left;
  }
  
 #dropdown-content h4 {
    padding: 2em 0 0.6em;
}

#dropdown-content h4 a{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}


.dropdown:hover #dropdown-content {
    display: block;
    transition: 180s;
    
  }

