

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li, a, h1, h2, h3, h4, h5, button {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}


body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}



/*       NAVBAR        */

nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05445E;
    padding: 50px 50px;
}



.nav-image img:hover{
    opacity:0.7 !important;
    filter:alpha(opacity=50) !important;

}

.mobile-nav-image{
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul.navigation{
    position: relative;
    display: flex;
    gap: 60px;
    margin-right: 60px;
    align-items: center;
}

nav ul li{
    list-style: none;
    
}
nav ul.navigation li a{
    position: relative;
    color: white;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
}


nav ul.navigation li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    display: block;
    background-color: #fff;
    transform: scaleX(0);
    transition: 0.5s ease-in-out;
    transform-origin: right;
}


nav ul.navigation li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;

}

nav .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    z-index: 10;
    cursor: pointer;

}

nav .search .icon {
    color: white;
}

.searchBox {
    position: absolute;
    right: -100% !important; 
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(5, 68, 94, 1);
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}

.searchBox.active {
    right: 0 !important;
}

.container .searchBtn {
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}


.searchBtn.active{
    left: 0;
}

.closeBtn {
   opacity: 0; 
   visibility: hidden;
   transition: 0.5s;
   scale: 0;
}


.closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1 ;
}


.searchBox input {
    /*width: 100%;*/
    border: none;
    outline: none;
    height: 50px;
    font-size: 36px;
    color: white;
    background: rgba(5, 68, 94, 0.9);
    border-bottom: 1px solid white;

}

::placeholder {
    color: white;
    opacity: 0.7; 
  }
  

.container .menuToggle {
    position: relative;
    display: none;
    color: white;
    padding-right: 10px;
}




/*navbar mobile*/


@media (max-width: 780px){
    .container .menuToggle {
        position: absolute;
        display: block;
        font-size: 35px;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }

    .searchBtn {
        left: 0;
    }


    nav .navigation{
        position: absolute;
        /*display: block;*/
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }


    nav.open .navigation{
        position: absolute;
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #05445E;
        justify-content: center;
        color: white;
        width: 100%;
        height: calc(250vh - 80px);
        padding: 40px;
        /*border-left: 1px solid rgba(0, 0, 0, 0.5);*/

    }

    nav.open .navigation li {
        font-size: 20px;
    }

    /*.primary{
        opacity: 0;
        visibility: hidden;
    }*/

    .hide{
        display: none;
    }

    .nav-image{
        display: none;
    }

    .mobile-nav-image{
        display:block;
    }


    
}

/*navbar mobile*/



a.btn {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    /*color: #D4F1F4;*/
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 25px;
}


.primary {
    color: #D4F1F4;
    border-color: #D4F1F4;
    border-style: solid;
    border-width: 3px;
    
}

.secondary {
    color: white;
    background: #05445E;
    
    
}


.primary:hover {
    color: #05445E;
    font-weight: bold;
    background-color: #D4F1F4;
}

/*.btn-1 button {
    background: none;
    font-size: 18px;
    color: white;
    border-color: white;
    border-radius: 25px;
    padding: 10px 35px;
      
}*/

#dropdown-content {
    display: none;
    position: absolute;
    left: -200px;
    background-color: #EDF4F5;
    min-width: 160px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    top: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


#dropdown-content .category{
    float: left;
    padding-inline-end: 40px;

}

.category ul li a{
    color: #05445E;
}

#dropdown-content ul li{
    margin: 0;
    padding-top: 20px;
    padding-top: 20px;
    list-style-type: none;
    
}


#dropdown-content ul li a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}


#dropdown-content a {
    /*display: flex;*/
    color: #05445E;
    padding: 12px 30px;
    text-decoration: none;
    text-align: left;
  }
  
 #dropdown-content h4 {
    padding: 2em 0 0.6em;
}

#dropdown-content h4 a{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}


.dropdown:hover #dropdown-content {
    display: block;
    transition: 180s;
    
  }

/*       END NAVBAR        */


/*       HERO SECTION        */

.heroText {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
    z-index: 1;
    padding-left: 50px;
    
}

.heroText h1{
    font-size: 48px;
    font-weight: lighter;
}

.heroText p{
    padding-top: 20px;
    font-size: 20px;
    line-height: 38px;
}

.hero_button .secondary{
    position: absolute;
    display: flex;
    right: 0;
    top: 550px;
    z-index: 1;
    margin-right: 200px;
}



/*    CAROUSEL    */ 

.carousel_inner{
    width: 100%;
    overflow: hidden;
 }
 
 .carousel_inner::after{
    content: "";
    display: block;
    clear: both;
 }
 
 .carousel_item{
    position: relative;
    float: left;
    display: none;
    width: 100%;
    margin-right: -100%;
 }

 .carousel_img {
    display: block;
    width: 100%;
}


.carousel_indicator{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    z-index: 1;
}

.carousel_dot{
    display: block;
    padding: .5rem;
    background-color: white;
    border-color: #05445E;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
 }
 
 .carousel_dot__active{
    background-color: #05445E;
    cursor: default;
    pointer-events: none;
 }

 /* slide effect */
.carousel_item__active,
.carousel_item__pos_prev,
.carousel_item__pos_next{
   display: block;
}

.carousel_item__pos_prev{
   left: -100%;
}

.carousel_item__pos_next{
   left: 100%;
}

.carousel_item__prev{
   transform: translateX(100%);
   transition: transform .5s ease-in-out;
}

.carousel_item__next{
   transform: translateX(-100%);
   transition: transform .5s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_prev,
.carousel__fade .carousel_item__pos_next{
   left: 0;
   opacity: 0;
}

.carousel__fade .carousel_item__prev,
.carousel__fade .carousel_item__next{
   transform: none;
   opacity: 1;
   transition: opacity .5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__prev,
.carousel__fade .carousel_item__active.carousel_item__next{
   opacity: 0;
}




/*       HERO SECTION END       */


/*          OUR VALUES            */

.our_values{
    padding: 100px;
}


.our_values_title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.our_values_title h1{
    font-size: 48px;
    text-align: center;
    color: #05445E;
}


.values_items{
    display: flex; 
    justify-content: space-evenly;
    gap: 30px;
    
    padding-top: 40px ;
    
}


#our_values_icons{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
}


#our_values_icons p{
   font-size: 20px;
   text-align: center;
   align-items:start;
}

.icon_text{
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon_img{
    padding-bottom: 50px;
    width: 200px;
}

#grid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.categoryGridArea {
    
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }

@media (max-width: 780px){
    #grid {
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: 1fr;
      }
} 