*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li, a, h1, h2, h3, h4, h5, button {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}


body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}



/*       NAVBAR        */

nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05445E;
    padding: 50px 50px;
}



.nav-image img:hover{
    opacity:0.7 !important;
    filter:alpha(opacity=50) !important;

}

.mobile-nav-image{
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul.navigation{
    position: relative;
    display: flex;
    gap: 60px;
    margin-right: 60px;
    align-items: center;
}

nav ul li{
    list-style: none;
    
}
nav ul.navigation li a{
    position: relative;
    color: white;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
}


nav ul.navigation li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    display: block;
    background-color: #fff;
    transform: scaleX(0);
    transition: 0.5s ease-in-out;
    transform-origin: right;
}


nav ul.navigation li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;

}

nav .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    z-index: 10;
    cursor: pointer;

}

nav .search .icon {
    color: white;
}

.searchBox {
    position: absolute;
    right: -100% !important; 
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(5, 68, 94, 1);
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}

.searchBox.active {
    right: 0 !important;
}

.container .searchBtn {
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}


.searchBtn.active{
    left: 0;
}

.closeBtn {
   opacity: 0; 
   visibility: hidden;
   transition: 0.5s;
   scale: 0;
}


.closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1 ;
}


.searchBox input {
    /*width: 100%;*/
    border: none;
    outline: none;
    height: 50px;
    font-size: 36px;
    color: white;
    background: rgba(5, 68, 94, 0.9);
    border-bottom: 1px solid white;

}

::placeholder {
    color: white;
    opacity: 0.7; 
  }
  

.container .menuToggle {
    position: relative;
    display: none;
    color: white;
    padding-right: 10px;
}




/*navbar mobile*/


@media (max-width: 780px){
    .container .menuToggle {
        position: absolute;
        display: block;
        font-size: 35px;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }

    .searchBtn {
        left: 0;
    }


    nav .navigation{
        position: absolute;
        /*display: block;*/
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }


    nav.open .navigation{
        position: absolute;
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #05445E;
        justify-content: center;
        color: white;
        width: 100%;
        height: calc(250vh - 80px);
        padding: 40px;
        /*border-left: 1px solid rgba(0, 0, 0, 0.5);*/

    }

    nav.open .navigation li {
        font-size: 20px;
    }

    /*.primary{
        opacity: 0;
        visibility: hidden;
    }*/

    .hide{
        display: none;
    }

    .nav-image{
        display: none;
    }

    .mobile-nav-image{
        display:block;
    }


    
}

/*navbar mobile*/



a.btn {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    /*color: #D4F1F4;*/
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 25px;
}


.primary {
    color: #D4F1F4;
    border-color: #D4F1F4;
    border-style: solid;
    border-width: 3px;
    
}

.secondary {
    color: white;
    background: #05445E;    
}

.third {
    border-color: #05445E;
    color: #05445E;
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
    background: none;    
}


.forth {
    border-color: #EDF4F5;
    color: #EDF4F5;
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
    background: none;    
}


.primary:hover {
    color: #05445E;
    font-weight: bold;
    background-color: #EDF4F5;
}

.third:hover{
    color: #D4F1F4;
    background-color: #05445E;
}

.forth:hover{
    color: #05445E;
    background-color: #D4F1F4;
}


#dropdown-content {
    display: none;
    position: absolute;
    left: -200px;
    background-color: #EDF4F5;
    min-width: 160px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    top: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


#dropdown-content .category{
    float: left;
    padding-inline-end: 40px;

}

.category ul li a{
    color: #05445E;
}

.category h4 a {
    font-weight: bold;
}



#dropdown-content ul li{
    margin: 0;
    padding-top: 10px;
    list-style-type: none;
    
}


#dropdown-content ul li a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}


#dropdown-content a {
    /*display: flex;*/
    color: #05445E;
    padding: 12px 30px;
    text-decoration: none;
    text-align: left;
  }
  
 #dropdown-content h4 {
    padding: 2em 0 0.6em;
}

#dropdown-content h4 a{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}


.dropdown:hover #dropdown-content {
    display: block;
    transition: 180s;
    
  }

/*       END NAVBAR        */


/*       HERO SECTION        */



/*       HERO SECTION END       */


.hero-section {
    background-image: url('../images/UA_heroImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px 0; /* Adjust the padding as needed */
    height: 550px;
}

.hero-section h1 {
    /*text-align: center;*/
    display: flex;
    margin-top: 250px;
    margin-left: 50px;
    color: #05445E; /* Adjust the text color as needed */
    font-size: 50px;
}


.breadcrumb {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 14px;
    gap: 10px;
    color: #666; /* Adjust the text color as needed */
}

.breadcrumb a {
    text-decoration: none;
    color: #007BFF; /* Adjust the link color as needed */
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/*
.main {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 100%; 
    background-color: #f1f1f1; 
    padding: 20px;
}

.main-content {
    width: 66.66%; 
    padding: 20px;} 

*/

.two-column-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0; /* Adjust margin as needed */
}

.column {
    width: 30%; /* Adjust width for the first column (one-third) */
    box-sizing: border-box;
    padding: 10px; /* Adjust padding as needed */
    background-color: #f1f1f1; /* Set your desired background color */
}

.second-column {
    width: 68%; /* Adjust width for the second column (two-thirds) */
    box-sizing: border-box;
    padding: 10px; /* Adjust padding as needed */
    padding-right: 200px;
    padding-left: 20px;
   
}

.page-content{
    line-height: 174.2%;
    padding: 30px 0 ;
}

/* Adjustments for Small Screens */
@media screen and (max-width: 768px) {
    .two-column-section {
        flex-direction: column; /* Stack columns on small screens */
    }

    .column, .second-column {
        width: 100%; /* Full width on small screens */
    }
}













.return{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.toTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toTop a {
    font-size: 48px;
    text-decoration: none;
    color:#05445E;
}


.toTop a img {
    filter: invert(33%) sepia(99%) saturate(2664%) hue-rotate(191deg) brightness(50%) contrast(85%);
}

/*    FOOTER    */


.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #05445E;
    height: 100px;
    padding-left: 50px;
    padding-right: 190px;
}

.banner div{
    display: flex;
    align-items: center;
}

.socials a{
    padding-inline-end: 20px;
}

.socials a img {
    transition: transform 0.3s ease-in-out;
}

.socials a:hover img {
    transform: scale(1.2); /* Adjust the scale factor as needed */
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer .footerCategory{
    padding: 30px;
}

#footer h4{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#footer ul li{
    list-style: none;
    padding-top: 20px;
    
}

#footer ul li a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #05445E;
}


.endBanner{
    background-color: #189AB4;
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 50px;
}




/* Add this to your existing CSS or update the CSS file */
.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  #chatbot {
    width: 90px; /* Adjust the width as needed */
    height: 90px; /* Adjust the height as needed */
    background-color: #05445E; /* Replace with the desired background color */
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#chatbot img{
    justify-content: center;
    align-items: center;
    width: 80%; 
    height: auto;
}
  
  #chatbotPopup {
    display: none;
    position: absolute;
    bottom: 120px; /* Adjust the distance from the chatbot */
    right: 50%;
    transform: translateX(50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  

  #chatbotPopup span {
    font-weight: bold;
  }



  #chatbot:hover {
    transform: translateY(-10px); 
  }


  #chatbot:hover + #chatbotPopup {
    display: block;
  }